<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd">
<suite name="Suit1">

    <test name="LoginTest" >
        <classes>
            <class name="login.LoginTest" />
        </classes>
    </test>

    <test name="SignUp" >
        <classes>
            <class name="signup.SignUp" />
        </classes>
    </test>

</suite>
